{% extends "layout.html" %}
    {% block title %}
    <title>Montecarlo</title>
    {% endblock %}

    {% block content %}
    <div class="" style="text-align: center;">
        <br>
        <h1>Modelo Montecarlo</h1>
        <h2>¿Qué es?</h2> <br>
        <p style="padding: 0 15% 0 15%">Los métodos de Monte Carlo son una potente herramienta de trabajo cuando la solución analítica del problema es difícil. El método implica la suposición de las distribuciones de probabilidad de las variables influyentes y el uso de generadores de números aleatorios para muestrear de forma simulada la población de sucesos.</p>
        <br><img src="/static/img/montecarlo.png" alt="" height="280px" width="450px">
        <br><br>
        <h2>Ejemplo planteado en la evaluación</h2><br>
        <p style="padding: 0 15% 0 15%">Una empresa del medio, dedicada al ensamblado de aparatos de telefonía cuenta actualmente con 9 operarios y cada uno con una producción de 28 aparatos terminados. Se ensamblan tantos aparatos como lo elija la demanda. La demanda tiene la siguiente probabilidad estadística:</p><br>
        <img src="/static/img/datoseva1.png" alt="" >
        <br><br><p>Se desea conocer:</p><br>
        <p style="padding: 0 15% 0 15%""><b>a)</b> La cantidad de operarios necesarios para la producción en los próximos 20 días atendiendo la mayor cantidad de demanda posible y sin tener tiempos de ociosos</p>
        <p style="padding: 0 15% 0 15%""><b>b)</b> Diseñe alguna alternativa para optimizar la producción del negocio.</p>
        <br> <img src="/static/img/numerosaleatorioseva1.png" alt=""><br>
        <a href="/montecarloejemplo" class="btn btn-primary">Ver Resultados</a><br><br><br>
    </div>
        
    {% endblock %}